body {
  margin: 0;
  padding: 0;
}

/* 
COLORS
COLORS
COLORS 
*/
.green,
.correct {
  background-color: #80ffaa;
  background: url("../images/bg/green.png") center center no-repeat;
}
.red,
.wrong {
  background-color: red;
  background: url("../images/bg/red.png") center center no-repeat;
}
.white {
  background: white;
  background: url("../images/bg/white.png") center center no-repeat;
}

/* 
COLORS
COLORS
COLORS 
*/
.quizTitle {
  display: block;
  background-color: black;
  color: white;
  border: 2px solid white;
  margin: 15px auto;
  border-radius: 5px;
  outline: none;
  width: 50%;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
}
.question_number {
  display: block;
  float: left;
  background-color: black;
  color: white;
  border: 2px solid white;
  margin: 15px auto;
  border-radius: 5px;
  outline: none;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
}
.container {
  width: 25%;
  padding: 10px;
  margin: 0 auto;
}
.btnquestion {
  text-align: left;
  font-size: 12px;
  padding: 0px;
  background-color: transparent;
  outline: none;
  letter-spacing: 2px;
  margin: auto;
  cursor: pointer;
  border-color: transparent;
  border-radius: 5px;
}
.hide {
  display: none;
}
.hidden {
  opacity: 0.25;
  transform: scale(1);
}

.show {
  display: block;
}
.block {
  display: block;
}
.nextButton {
  font-size: 2.5rem;
  margin: auto;
  position: fixed;
  bottom: 40px;
  right: 50px;
  left: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.question {
  z-index: 3;
  background-color: black;
  border: 2px solid white;
  width: 100%;
  padding: 12px;
  letter-spacing: 2px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  color: white;
}
.question::placeholder {
  color: white;
  text-align: left;
}
input {
  background-color: black;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 5px;
  text-indent: 2px;
  border: 2px solid white;
  padding: 12px;
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  outline: none;
}
#inputs {
  width: 25%;
}
#mainInputs {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
}
::placeholder {
  color: black;
  font-size: 12px;
  text-indent: 2px;
  letter-spacing: 2px;
}
.ansBtns {
  background-color: black;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 5px;
  text-indent: 2px;
  border: 2px solid white;
  padding: 12px;
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  color: white;
  transition: all 0.25s;
  outline: none;
}
.ansBtns:hover:not(.hidden) {
  transform: scale(1.025);
  transition: all 0.25s;
  cursor: pointer;
}

.mainBtns,
.resultBtns {
  background-color: black;
  color: white;
  border: none;
  margin: 10px auto;
  border-radius: 5px;
  outline: none;
  padding: 12px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  transition: all 0.25s;
}

.mainBtns:hover:not(.hidden) {
  transform: scale(1.025);
  cursor: pointer;
  transition: all 0.25s;
}
.cursor {
  cursor: pointer;
}
.resultBtns {
  width: 25%;
  display: block;
}
.mainBtns {
  width: 100%;
}
@media (max-width: 770px) {
  #inputs {
    width: 100%;
  }
  .container {
    width: 95%;
  }
  #mainInputs {
    width: 95%;
    margin: 0 auto;
  }
}
#successTitle,
#failTitle,
#correctAnswers {
  cursor: auto;
  background: black;
  border: 2px solid black;
  color: white;
}
#menuBtn {
  background: black;
  border: 2px solid black;
  color: white;
  cursor: pointer;
}
